<div class="new-row padding-for-top-card">
  <div class="col-sm-12">
    <div class="home-page-card">
      <div class="fadein">
        <img id="f3" src="../../../assets/images/flat.jpg">
        <img id="f2" src="../../../assets/images/house.jpg">
        <img id="f1" src="../../../assets/images/residents.jpg">
      </div>

      <div class="home-page-card-body centered">
        <h5 class="card-title">Welcome to house editor</h5>
        <p class="card-text">This project is made to manage house, apartments that is located in houses and their
          residents. Project has three smart tables, when you can manage houses, apartments and residents. You can add,
          delete or edit every object in table, wathh it more detailed information an more...</p>

        <div class="centered">
          <h5>
            <p class="card-text">If you want to start, just click on the one of an icons above, it will relocate you to
              the
              one of a table</p>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new-row">
  <div class="col-sm-12">
    <div class="home-page-card">
      <div class="home-page-card-body">


        <div class="new-row centered ">
          <div class="col-sm-4 icon-border">
            <h5 class="card-title centered">Flat Table</h5>
            <i class="fas fa-door-open fa-10x icon-glow" (click)=rediretToFlatTable()></i>
            <p class="card-text">Manage your flats in a smart table</p>
          </div>
          <div class="col-sm-4 icon-border">
            <h5 class="card-title centered">House Table</h5>
            <i class="fas fa-building fa-10x icon-glow" (click)=rediretToHouseTable()></i>
            <p class="card-text">Manage your houses in a smart table.</p>
          </div>
          <div class="col-sm-4 ">
            <h5 class="card-title centered">Resident Table</h5>
            <i class="fas fa-user fa-10x icon-glow" (click)=rediretToResidentTable()></i>
            <p class="card-text">SManage your residents in a smart table</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>