nb-card {
    transform: translate3d(0, 0, 0);
  }


  .outerdiv {
    margin: 0 auto;
  }
  .inerdiv{
    display: table;
    margin: 0 auto;
  }
  .internationalNumber-autocomplete {
    position: fixed;
    z-index: 1;
    min-width: 280px;
  }