<nb-card>
  <nb-card-header>
    <h1>Resident Table</h1> Total amount of residents in all houses: {{this.residentService.TotalResidents}} people
    <button class="btn btn-hero-info btn-demo" (click)="getFullList()">Get Full List</button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
  <button class="btn btn-hero-primary btn-demo" (click)="goBack()">Go Back</button>
</nb-card>