<toaster-container></toaster-container>
<!-- this is cards with additional info -->
<nb-card *ngIf="!houseService.RegistrationHouseForm && !houseService.EditHouseForm">
  <nb-card-header>
    <h1>House Table</h1> Total amount of houses in Table: {{this.houseService.TotalAmountOfHosesInTable}} houses
  </nb-card-header>

  <!-- this is our ng2 smart table -->
  <nb-card-body>
    <ng2-smart-table #table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onSaveConfirm($event)"
      (create)="onCreateConfirm()">
      <!-- (userRowSelect)="onUserRowSelect($event)" -->
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- this is our edit form -->
<form class="emp-form" #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm) " *ngIf="houseService.EditHouseForm">
  <nb-card>
    <nb-card-header>House Edit Form </nb-card-header>
    <nb-card-body>
      <div class="row">
        <input type="hidden" *ngIf="houseService.selectedHouse && houseService.selectedHouse.id" name="id" #id="ngModel" [(ngModel)]="houseService.selectedHouse.id">
        <input type="hidden" *ngIf="houseService.selectedHouse && houseService.selectedHouse.flatamount" name="flatamount" #id="ngModel"
          [(ngModel)]="houseService.selectedHouse.flatamount">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputstreet">Street</label>
            <input class="form-control" id="inputstreet" name="street" #street="ngModel" [(ngModel)]="houseService.selectedHouse.street"
              placeholder="Street" required>
            <div class="validation-error" *ngIf="street.invalid && street.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputnumber">House Number</label>
            <input type="text" class="form-control" id="inputnumber" name="number" #number="ngModel" [(ngModel)]="houseService.selectedHouse.number"
              placeholder="House Number" required>
            <div class="validation-error" *ngIf="number.invalid && number.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputfloors">Floors</label>
            <input type="text" class="form-control" id="inputfloors" name="floors" #floors="ngModel" [(ngModel)]="houseService.selectedHouse.floors"
              placeholder="Floors" required>
            <div class="validation-error" *ngIf="floors.invalid && floors.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputcity">City</label>
            <input type="text" class="form-control" id="inputcity" name="city" #city="ngModel" [(ngModel)]="houseService.selectedHouse.city"
              placeholder="City" required>
            <div class="validation-error" *ngIf="city.invalid && city.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputcountry">Country</label>
            <input type="text" class="form-control" id="inputcountry" name="country" #country="ngModel" [(ngModel)]="houseService.selectedHouse.country"
              placeholder="Country" required>
            <div class="validation-error" *ngIf="country.invalid && country.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputpostindex">Post Index</label>
            <input type="email" class="form-control" id="inputpostindex" name="postindex" #postindex="ngModel" [(ngModel)]="houseService.selectedHouse.postindex"
              placeholder="Post Index" required>
            <div class="validation-error" *ngIf="postindex.invalid && postindex.touched">This field is Required</div>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;  ">
        <button type="submit" [disabled]="!houseForm.valid" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-hero-warning btn-demo" (click)="onClose(houseForm)">Close</button>
      </div>
    </nb-card-body>
  </nb-card>
</form>
<!-- this is our registration form -->
<form class="emp-form" #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm) " *ngIf="houseService.RegistrationHouseForm">
  <nb-card>
    <nb-card-header>House Registration Form</nb-card-header>
    <nb-card-body>
      <div class="row">
        <input type="hidden" *ngIf="houseService.selectedHouse && houseService.selectedHouse.id" name="id" #id="ngModel" [(ngModel)]="houseService.selectedHouse.id">
        <input type="hidden" *ngIf="houseService.selectedHouse && houseService.selectedHouse.flatamount" name="flatamount" #id="ngModel"
          [(ngModel)]="houseService.selectedHouse.flatamount">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputstreet">Street</label>
            <input class="form-control" id="inputstreet" name="street" #street="ngModel" [(ngModel)]="houseService.selectedHouse.street"
              placeholder="Street" required>
            <div class="validation-error" *ngIf="street.invalid && street.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputnumber">House Number</label>
            <input type="text" class="form-control" id="inputnumber" name="number" #number="ngModel" [(ngModel)]="houseService.selectedHouse.number"
              placeholder="House Number" required>
            <div class="validation-error" *ngIf="number.invalid && number.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputfloors">Floors</label>
            <input type="text" class="form-control" id="inputfloors" name="floors" #floors="ngModel" [(ngModel)]="houseService.selectedHouse.floors"
              placeholder="Floors" required>
            <div class="validation-error" *ngIf="floors.invalid && floors.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputcity">City</label>
            <input type="text" class="form-control" id="inputcity" name="city" #city="ngModel" [(ngModel)]="houseService.selectedHouse.city"
              placeholder="City" required>
            <div class="validation-error" *ngIf="city.invalid && city.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputcountry">Country</label>
            <input type="text" class="form-control" id="inputcountry" name="country" #country="ngModel" [(ngModel)]="houseService.selectedHouse.country"
              placeholder="Country" required>
            <div class="validation-error" *ngIf="country.invalid && country.touched">This field is Required</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputpostindex">Post Index</label>
            <input type="email" class="form-control" id="inputpostindex" name="postindex" #postindex="ngModel" [(ngModel)]="houseService.selectedHouse.postindex"
              placeholder="Post Index" required>
            <div class="validation-error" *ngIf="postindex.invalid && postindex.touched">This field is Required</div>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;  ">
        <button type="submit" [disabled]="!houseForm.valid" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-hero-success btn-demo" (click)="resetForm(houseForm)">Reset</button>
        <button type="button" class="btn btn-hero-warning btn-demo" (click)="onClose(houseForm)">Close</button>
      </div>
    </nb-card-body>
  </nb-card>
</form>