<nb-card>
  <nb-card-header>
    <h1>Flat Table</h1> Total amount of flats in all houses: {{this.flatService.TotalFlatsInTable}} flats
  </nb-card-header>


  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
  <button class="btn btn-hero-primary btn-demo">Go Back</button>
</nb-card>