<nb-card>
  <nb-card-header>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
      <div class="row">
        <div class="col-sm-3" *ngIf="this.houseId">
          <h1>Flat Table</h1> Total amount of flats in all houses: {{this.flatService.TotalFlatsInTable}} flats
          <br>
          <button class="btn btn-hero-info btn-demo" (click)="getFullList()" *ngIf="this.houseId">Go To Flat List</button>
        </div>
        <div class="col-sm-12" *ngIf="!this.houseId">
          <h1>Flat Table</h1> Total amount of flats in all houses: {{this.flatService.TotalFlatsInTable}} flats
          <br>
          <button class="btn btn-hero-info btn-demo" (click)="getFullList()" *ngIf="this.houseId">Get Full List</button>
        </div>

        <div class="col-sm-3" *ngIf="this.houseService.selectedHouse">

          <h1>House Info:</h1> Street: {{this.houseService.selectedHouse.street}}
          <br>City: {{this.houseService.selectedHouse.city}}
          <br>Country: {{this.houseService.selectedHouse.country}}
          <br>Postindex: {{this.houseService.selectedHouse.postindex}}
        </div>
        <div class="col-sm-3" *ngIf="this.houseId">
          <h1>Flats in this House:</h1> {{this.flatService.TotalFlatsInAdditionalHouse}} Flats are located in this house
        </div>

      </div>
    </div>


  </nb-card-header>


  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)" (userRowSelect)="onUserRowSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
  <button class="btn btn-hero-primary btn-demo" (click)="goBack()">GoBack</button>
</nb-card>